$font-size-min = 13px
$font-size-main = 15px
$font-size-circle = 20px
$font-size-checkbox = 21px
$font-size-link = 21px
$font-size-input-name = 22.43px
$font-size-legend = 24px
$font-size-input-text = 30px
$font-size-textarea = 30px

$color-background = #797979
$color-main = #2f1b15
$color-input-text = #231f20
$color-border = #3f241e
$color-description = #3d3d3d
$color-link = #1f5f97
$color-textarea = #231f20