body
	font-family PT Sans, sans-serif

	background-color $color-background
.main
	margin-right auto
	margin-left auto
	padding 0 113px
	padding-top 53px
	padding-bottom 47px
	 
	max-width 1000px
	height 100%
	
	background-image url(/bg.png)

@media (max-width: 1024px)
	.main
		padding 0 15px
		padding-top 55px
