.box
	display inline-block
	
	&--first
		position absolute
		left 0

	&--second
		position absolute
		left 19%
		
	&--third
		position absolute
		left 48.5%
		
		width 22%
	
	&--last
		position absolute
		right 0

		white-space nowrap

	&__text
		padding-top 19px
		
		font-size $font-size-min
		font-weight bold
		line-height 18px

		&--offset-top
			padding-top 10px

	&__line
		margin-top -4px
		
		width 100%
		height 11px
		
		border-left 2px solid $color-border

		&--height-border
			height 24px

		&--border-right
			border-left none
			border-right 2px solid $color-border
